@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

body {
    background-color: aliceblue;
}

.mouse-over:hover {
    cursor: pointer;
}

.text-underline:hover {
    text-decoration: underline;
}